<div>
  <h1>填寫問卷送優惠券倒數(1 天 5 小時 49 分 {{ timer }} 秒)</h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off" novalidate>
      <div class="form-group">
        <label for="username">姓名:</label>
        <input name="username" [(ngModel)]="username"  type="text" class="form-control" placeholder="請輸入姓名 ..." />
      </div>
      <div class="form-group">
        <label for="codeLanguage">最喜歡的程式語言:</label>
        <input name="codeLanguage" [(ngModel)]="codeLanguage" type="text" class="form-control" placeholder="請輸入程式語言，如:C#, JAVA ..." />
      </div>
      <button id="add" type="button" (click)="submit()" class="btn btn-success">送出</button>
      {{ result }}
    </form>
  <div>
</div>
