<div>
  <h1>新增會員</h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="addNerUser(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error' : !validateUsername() }">
        <label for="username">使用者名稱:</label>
        <em *ngIf="!validateUsername() && profileForm.controls.username.errors.required">請填寫</em>
        <input formControlName="username" id="username" type="text" class="form-control" placeholder="使用者名稱 ..." />
      </div>
      <div class="form-group"  [ngClass]="{'error' : !validatePassword() }">
        <label for="password">密碼:</label>
        <em *ngIf="!validatePassword()">請填寫</em>
        <input formControlName="password" id="password" type="password" class="form-control" placeholder="密碼..." />
      </div>
      <div class="form-group" [ngClass]="{'error' : !validateFirstName() }">
          <label for="firstName">名字:</label>
          <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">請填寫</em>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="名字..." />
        </div>
        <div class="form-group"  [ngClass]="{'error' : !validateLastName() }">
          <label for="lastName">姓氏:</label>
          <em *ngIf="!validateLastName()">請填寫</em>
          <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="姓氏..." />
        </div>
        <div class="form-group">
            <span id='membershipterm' (click)="popupTerm()" >會員權益</span>
        </div>
      <button id="add" disabled type="submit" class="btn btn-success">新增</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">取消</button>
    </form>
  <div>
</div>
